#username:focus {
  outline: none;
}
input[type="button"] {
  width: 17vw;
  height: 6vh;
  position: relative;
  margin-top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  font-size: 3vh;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: 0.5s;
  -webkit-text-stroke: 0px #101820ff;
  font-weight: bolder;
  color: #f2aa4cff;
}
input[type="button"]:nth-child(1) {
  border: 1.5px solid #f2aa4cff;
  transition: 0.5s;
}
input[type="button"]:nth-child(1):hover {
  background: #f2aa4cff;
  color: #101820ff;
}

input[type="button"]:nth-child(2):hover {
  border: 1.5px solid #f2aa4cff;
  transition: 0.5s;
}
