
<div id="main-nav" class=" transparent-header  solid-header" style="padding: 0; box-shadow: none;border-bottom: .2px solid #88888850;">
    <div class="menu-bg-wrapper">
        <div class="menu-bg"></div>
        <div class="menu-arrow"></div>
    </div>
    <div class="row-container">
        <a id="logo" href="/" style="letter-spacing: 1.5px;font-weight: 990;">
            MyBlogs
        </a>
        <nav>
            <ul class="menu">
                <li class="menu-wrapper">
                    <a class="menu-item" href="/recents/">Recents</a>
                </li>
                <li class="menu-wrapper">
                    <a class="menu-item" href="/categories/">Categories</a>
                </li>
            </ul>
            <div class="pricing-button-wrapper">
                <a id="pricing-button" class="button primary-button accent-teal"
                    href="/subscribe/"><span style="color: teal;">Subscribe</span></a>
            </div>
        </nav>
        <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </span> 
    </div>
</div>
