@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    color: #ededed;
    scroll-behavior: smooth;
}
body {
    min-height: 100dvh;
}
html {
    background: #121212;
    min-height: 100dvh;
    min-width: 100dvw;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }

.main { height: calc(100dvh - 256px); }

@media (max-width:768px) {
    .main { height: auto; }
}