<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% load static %}
    {% load sass_tags %}
    <title>{{tab_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% sass_src 'scss/index.scss' %}">
</head>

<body class="post-template-default single single-post postid-245582 single-format-standard pillar et_bloom et_monarch">

    <!-- HEADER SECTION ===================================== -->
    {% include 'src/utils/header.html' %}
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->




    <!-- MAIN SECTION ===================================== -->




    <!-- title seection -->
    <section id="careers-hero" class="standard-post hero" style="margin-top: 100px;">
        <div class="row-container with-editorial-note">
            <div class="row">
                <div class="column-container">
                    <div class="column centered post-header accent-teal">
                        <h1 style="font-size: 3.6rem;">{{title | default:'Hello'}}</h1>
                        <p class="lead" style="width: 100%; display: flex; flex-direction: column;align-items: center;">
                        <div class="" style="margin-bottom: 15px;">
                            Posted on {{date | default:'6 January, 2024'}} by
                            <a style="font-weight: 700;">{{author | default:'Kushal'}}</a>
                        </div>
                        <a href="#comments" class="comments-number button three-columns"
                            style="width: fit-content !important;text-align: center;">
                            Leave a Comment
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- thumbnail corner -->
    <section class="thumbnail-container">
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column article-thumbnail accent-teal">
                        <div class="post-thumbnail">
                            <img width="973" height="548"
                                src="../../../media/{{thumbnail}}"
                                alt="{{title}}"
                                title="{{title}}" />
                            <div class="blog-breadcrumbs">
                                <span>
                                    <span>
                                        <a href="/">Blog</a></span> / <span><a
                                            href="/categories/{{tag|lower | default:'tech'}}">{{tag}}</a></span>
                                    <span class="breadcrumb_last" aria-current="page">{{title | default:'Hello'}}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section id="article" class="article-section with-thumbnail">
        <div class="row-container article-container ">
            <div class="row">
                <div class="column-container" style="max-width: 95vw; width: 800px !important;">
                    <div class="column accent-teal">
                        <article id="post-245582">

                            <!-- header -->
                            {{header|safe}}


                            
                            <!-- table of contents -->
                            <br><br><br><br>


                            <!-- rest of body -->
                            {{body|safe}}

                            
                        </article>
                    </div>
                </div>
            </div>
        </div>




        <br><br>
        <br><br>


        {% if comments %}
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column">
                        <h2>Comments</h2>
                        <div id="respond" class="comment-respond" style="display: flex; flex-direction: column; gap: 25px;">
                            
                            {% for x in comments %}
                            <div class="" style="width: fit-content;padding: 32px; background: #ddf4fae9; border-radius: 10px; color: #32373c; display: flex; flex-direction: column; min-width: 300px !important; margin-right: 20vw;">
                                <div class="title" style="font-weight: 990; font-size: 1.45rem; padding-top: 30px;">
                                    {{x.name}}
                                </div>
                                <div class="comment" style="padding-top: 16px;">
                                    {{x.comment}}
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        <br id="comments"><br><br><br>

        <!-- reply and comments -->
        <div class="row-container accent-teal" style="margin-bottom: 80px; border: 1px solid rgb(202, 202, 202); padding-top: 32px; padding-bottom: 35px; border-radius: 20px;">
            <div class="row">
                <div class="column-container">
                    <div class="column">
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title"><span>Leave A Reply</span></h3>
                            <form action="" method="post"
                                id="commentform" class="comment-form">
                                {% csrf_token %}
                                Comments are reviewed and must adhere to our <a
                                    href="/policy/comments/" target="_blank">comments
                                    policy</a>.<div class="et_manage_input" style="margin-top: 20px;">
                                    
                                    
                                        <textarea autocomplete="new-password" required="" id="comment" name="comment" placeholder="Enter your comment here" cols="45" rows="8" aria-required="true"></textarea>
                                    
                                    <label style="color: teal;">Comment</label>
                                </div>
                                <div class="et_manage_input">
                                    <input required minlength="3" maxlength="30" placeholder="Name" id="author"
                                        name="author" type="text" value size="30" aria-required="true" />
                                    <label style="color: teal;">Name</label>
                                </div>
                                <div class="et_manage_input">
                                    <input required placeholder="Email Address" id="email" name="email" type="email"
                                        value size="30" aria-required="true" />
                                    <label style="color: teal;">Email Address</label>
                                </div>
                                    
                                <input name="blog_name" type="text" value="{{title}}" hidden style="display: none;"/>
                                
                                <p class="form-submit"><input name="submit" type="submit" id="submit"
                                        class="button primary-button inline-button" value="Submit Comment" /> <input
                                        type="hidden" name="comment_post_ID" value="245582" id="comment_post_ID" />
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0" />
                                </p>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br><br>








        <!-- +++++++ more blogs ++++++++++++++++++++++ -->

        {% if more_blogs %}
        <div class="row-container wide-width blog-index">

            <h2 style="text-align: center; min-width: 100% !important;padding: 55px 0 20px;">More blogs related to "{{tag|lower}}"</h2>

            <div class="row three-column small-gutters">
                {% for x in more_blogs %}
                {% if x.title != title %}
                <div class="column-container" onclick="location.href='{{x.link}}'">
                    <div class="column card accent-teal cardd"
                        style="padding: 0; overflow: hidden; height: 100%; border-radius: 20px;">
                        <article id="post-238402"
                            class="entry article-card post-238402 post type-post status-publish format-standard has-post-thumbnail hentry category-best-website-tools category-design tag-best-graphic-design-software tag-best-tools tag-graphic-design tag-graphic-design-tool"
                            style="height: 100%;position: relative; border-radius: 20px;">
                            <div class="post-thumbnail" style="width: 100%;">
                                <a style="width: 100%; " style="cursor: default;">
                                    <img src="../../../media/{{x.thumbnail}}" style="width: 100%; height: 253px; object-fit: cover;"
                                        height="253" width="450" alt="">
                                </a>
                            </div>
                            <h3 style="padding: 20px 26px;"><a href="{{x.link}}">{{x.title}}</a></h3>
                            <p class="blog-meta" style="padding: 0 26px;">
                                <span class="published updated" style="font-size: .9rem;">{{x.date}}</span> <br>
                                <a href="{{x.tag_link}}"
                                    style="background: rgba(0, 128, 128, 0.174); padding: 5px 8px; border: 1px solid teal; border-radius: 5px; font-size: .8rem; margin-right: 8px;">
                                    {{x.tag}}
                                </a>
                                <span class="comments-number"><a href="{{x.link}}"
                                        style="padding: 5px 8px; font-size: .8rem; ">
                                        {{x.comments}} comments
                                    </a>
                                </span>
                            </p>
                            <p style="padding: 0 26px 124px;">
                                {{x.brief}}
                            </p>
                            <a class="button tertiary-button"
                                style="width: calc(100% - 52px); transform: translateX(26px); margin: 35px 0 45px; position: absolute; bottom: 0; "
                                href="{{x.link}}" class="viewfull">
                                View Full Post
                            </a>
                        </article>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        {% endif %}

        
        {% if recents %}
        <div class="row-container wide-width blog-index">

            <h2 style="text-align: center; min-width: 100% !important;padding: 105px 0 20px;">Recent blogs</h2>

            <div class="row three-column small-gutters">
                {% for x in recents %}
                {% if x.title != title %}
                <div class="column-container" onclick="location.href='{{x.link}}'">
                    <div class="column card accent-teal cardd"
                        style="padding: 0; overflow: hidden; height: 100%; border-radius: 20px;">
                        <article id="post-238402"
                            class="entry article-card post-238402 post type-post status-publish format-standard has-post-thumbnail hentry category-best-website-tools category-design tag-best-graphic-design-software tag-best-tools tag-graphic-design tag-graphic-design-tool"
                            style="height: 100%;position: relative; border-radius: 20px;">
                            <div class="post-thumbnail" style="width: 100%;">
                                <a style="width: 100%; " style="cursor: default;">
                                    <img src="../../../media/{{x.thumbnail}}" style="width: 100%; height: 253px; object-fit: cover;"
                                        height="253" width="450" alt="">
                                </a>
                            </div>
                            <h3 style="padding: 20px 26px;"><a href="{{x.link}}">{{x.title}}</a></h3>
                            <p class="blog-meta" style="padding: 0 26px;">
                                <span class="published updated" style="font-size: .9rem;">{{x.date}}</span> <br>
                                <a href="{{x.tag_link}}"
                                    style="background: rgba(0, 128, 128, 0.174); padding: 5px 8px; border: 1px solid teal; border-radius: 5px; font-size: .8rem; margin-right: 8px;">
                                    {{x.tag}}
                                </a>
                                <span class="comments-number"><a href="{{x.link}}"
                                        style="padding: 5px 8px; font-size: .8rem; ">
                                        {{x.comments}} comments
                                    </a>
                                </span>
                            </p>
                            <p style="padding: 0 26px 124px;">
                                {{x.brief}}
                            </p>
                            <a class="button tertiary-button"
                                style="width: calc(100% - 52px); transform: translateX(26px); margin: 35px 0 45px; position: absolute; bottom: 0; "
                                href="{{x.link}}" class="viewfull">
                                View Full Post
                            </a>
                        </article>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        {% endif %}

        <br><br>
    </section>




    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!-- FOOTER SECTION ===================================== -->
    {% include 'src/utils/footer.html' %}
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->



</body>

</html>